<html>
	<head>
		<title>{{ title }}</title>
		<link rel='stylesheet' href='../bootstrap/dist/css/bootstrap.css'/>
	</head>
	<body>
		<ul class='nav nav-tabs' style='margin-bottom:10px'>
      <li {% if !category %} class='active' {% endif %}>
				<a href='/'>Home</a>
			</li>
			
			{% for _category in categories %}
			<li {% if _category === category %} class='active' {% endif %}>
				<a href='/categories/{{ _category }}'>{{ _category }}</a>
			</li>
			{% endfor %}

		</ul>
			
		<div class='container'>
		{% block main %}

		{% endblock %}
		</div>
	</body>
</html>
